services:
  # --- Servicio Web (Apache + PHP) ---
  apache:
    build: 
      context: ./web      # <--- CAMBIO CLAVE: El contexto es la carpeta 'web'
      # Docker buscará automáticamente el 'Dockerfile' dentro de esa carpeta
    container_name: mi-contenedor-web
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - my-network

  # --- Servicio Base de Datos (MySQL) ---
  mysql:
    build: 
      context: ./db       # <--- CAMBIO CLAVE: El contexto es la carpeta 'db'
    container_name: daw-db-server
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: inventario
    volumes:
      - datadir:/var/lib/mysql
    networks:
      - my-network

networks:
  my-network:

volumes:
  datadir: